body {
	background-color: #808080;
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.4em;
	line-height: 1.5;
}


header {
	border:2px solid black;
	background-image: url(../Images/banniere.png);
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#menuheader ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#menuheader li {
	border: 2px solid black;
	text-align: center;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#menuheader li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 4px 0;
}

/* header ul li a {
	text-decoration: none;
	color: black;
 */}

footer {
	border:2px solid black;
}
